/**
 * custom-name Webfont
 */
@font-face {
    font-family: 'custom-name';
    src: url('../fonts/custom-name.eot.custom');
    src: url('../fonts/custom-name.eot.custom') format('embedded-opentype'),
        url('../fonts/custom-name.ttf.custom') format('truetype'),
        url('../fonts/custom-name.woff2.custom') format('woff2'),
        url('../fonts/custom-name.woff.custom') format('woff'),
        url('../fonts/custom-name.svg.custom') format('svg');
    font-weight: normal;
    font-style: normal;
}

@mixin custom-iconfont-styles {
    font-family: "custom-name";
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    // speak: none; // only necessary if not using the private unicode range (firstGlyph option)
    text-decoration: none;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

%custom-iconfont {
    @include custom-iconfont-styles;
}
