{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "impliedStrict": true,
    },
  },
  "env": {
    "browser": true,
    "commonjs": true,
    "embertest": true,
    "es6": true,
    "node": true,
  },
  "rules": {
    // Variables
    // http://eslint.org/docs/rules/#variables
    // ---------------------------------------
    'no-unused-vars': [2, {args: 'none'}], // eslint:recommended

    // Stylistic Issues
    // http://eslint.org/docs/rules/#stylistic-issues
    // ----------------------------------------------
    'array-bracket-newline': 0, // eslint:recommended
    'array-bracket-spacing': [2, 'never'],
    'array-element-newline': 0, // eslint:recommended
    'block-spacing': [2, 'never'],
    'brace-style': 2,
    'camelcase': [2, {properties: 'always'}],
    'comma-dangle': [2, 'always-multiline'],
    'comma-spacing': [2, { "before": false, "after": true }],
    'indent': 2,
    'no-extra-semi': 2,
    'no-trailing-spaces': 2,
    'one-var': [2, {
      var: 'never',
      let: 'never',
      const: 'never',
    }],
    'semi': 2,
    'semi-spacing': [2, { "before": false, "after": true }],
    'space-before-blocks': 2,
    'space-before-function-paren': 2,
    'spaced-comment': [2, 'always'],
    'switch-colon-spacing': 2
  }
}
