{
  "extends": "stylelint-config-sass-guidelines",
  "plugins": [
    "stylelint-scss"
  ],
  "rules": {
    "function-parentheses-space-inside": "never-single-line",
    "indentation": 4,
    "max-nesting-depth": 10,
    "order/order": null,
    "order/properties-alphabetical-order": null,
    "property-no-vendor-prefix": null,
    "scss/percent-placeholder-pattern": "^[a-z]+(?:-[a-z0-9]+)*(?:__[a-z0-9]+(?:-[a-z0-9]+)*)?(?:--[a-z0-9]+(?:-[a-z0-9]+)*)?(?:\\[.+\\])?$",
    "selector-class-pattern":"^(?:(?:o|c|u|t|s|is|has|_|js|qa)-)?[a-z]+(?:-[a-z0-9]+)*(?:__[a-z0-9]+(?:-[a-z0-9]+)*)?(?:--[a-z0-9]+(?:-[a-z0-9]+)*)?(?:\\[.+\\])?$",
    "selector-no-qualifying-type": null,
    "selector-no-vendor-prefix": null,
    "selector-pseudo-element-colon-notation": "single"
  }
}
