<h1 class="title">Example</h1>

<div class="icons-wrapper icons-svg">
    <svg class="icon" role="img" title="Facebook icon" width=25 height=25>
        <use xlink:href="#facebook-icon"></use>
    </svg>
    <svg class="icon" role="img" title="Google Plus icon" width=35 height=35>
        <use xlink:href="#google-plus-icon"></use>
    </svg>
    <svg class="icon" role="img" title="Twitter icon" width=25 height=25>
        <use xlink:href="#twitter-icon"></use>
    </svg>
</div>

<div class="icons-wrapper icons-png">
    <div class="icon-facebook"></div>
    <div class="icon-google-plus"></div>
    <div class="icon-twitter"></div>
</div>
