
@import './sprite-img';
@import './partials/app-partial';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    background: #eee;
    color: #333;
    font-family: sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icon-facebook {
    @include sprite($facebook-icon);
}

.icon-google-plus {
    @include sprite($google-plus-icon);
}

.icon-twitter {
    @include sprite($twitter-icon);
}
