-
    var images = [
        {
            name: 'image-1',
            caption: 'Imagem 1',
            description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis minus, praesentium veniam sapiente voluptas enim quisquam. Unde corporis fuga et aliquid quis, illum placeat necessitatibus quas. Harum eos quo placeat!'
        },
        {
            name: 'image-2',
            caption: 'Imagem 2',
            description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate minima in, modi quisquam recusandae sint repudiandae incidunt quibusdam quas perspiciatis omnis fugiat ipsa illo consectetur officia voluptate debitis, cum atque!'
        },
        {
            name: 'image-3',
            caption: 'Imagem 3',
            description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque ad, molestiae iusto alias accusantium perferendis expedita, sint magnam dolores ex optio hic, tempora aperiam facere nulla sed? Sint, blanditiis est.'
        },
        {
            name: 'image-4',
            caption: 'Imagem 4',
            description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, reiciendis doloremque soluta, nostrum nesciunt magni quidem suscipit omnis vero dolores atque iste totam optio quae est eos ab consectetur et.'
        },
        {
            name: 'image-5',
            caption: 'Imagem 5',
            description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique cum qui voluptatum, quod maxime consequatur blanditiis fugiat magnam incidunt, quisquam at aspernatur sit. Magni repudiandae, omnis autem veniam blanditiis quos.'
        },
    ];

.thumbnail__wrapper
    h2.thumbnail__title Gallery
    p.thumbnail__subtitle <strong>Awesome</strong> <em>Gallery</em>!

    each img in images
        +thumbnail(img.name, img.caption, img.description)
