doctype html
html(lang="pt-br")
    //- Global Mixins
    include _mixins/_thumbnail.pug

    head
        include _partials/_main-head.pug
        include _partials/_main-styles.pug

    body
        include _partials/_main-header.pug
        include _partials/_main-content.pug
        include _partials/_main-footer.pug
        include _partials/_main-scripts.pug
