
form(class='', action='/', method='post', enctype='multitype-form')
    .form__field
        input(class='form__input form__input-block', type='text', name='xyz_name', id='xyz_name', placeholder='Name')/

    .form__field
        input(class='form__input form__input-block', type='email', name='xyz_email', id='xyz_email', placeholder='E-mail')/

    .form__field
        input(class='form__input form__input-block btn btn--submit', type='submit', value='Submit')/
