
@import './custom/custom-file';

.iconfont {
    &__wrapper {
        width: 90%;
        margin: auto;
        background: #666;
    }

    &--heart {
        &:before {
            @extend %custom-iconfont;
            content: '\EA05';
            font-size: 82px;
            color: #fafafa;
        }
    }

    &--arrow {
        &:before {
            @extend %custom-iconfont;
            content: '\EA09';
            font-size: 56px;
            color: #fafafa;
        }
    }
}
